<div class="grid--full callout-text-right">
  <div class="grid__item large--one-half text-center">
    <div class="callout-image">
      <img src="//cdn.shopify.com/s/files/1/0941/6562/files/celebrate-image_2048x2048.png" />
    </div>
  </div>
  <div class="grid__item large--one-half callout-right">
    <div class="callout-title">
      <h1>Vestibulum fringilla pede sit amet augue.</h1>
    </div>
    <div class="callout-description">
      <p>Sed mollis, eros et ultrices tempus, mauris ipsum aliquam libero, non adipiscing dolor urna a orci. Nam at tortor in tellus interdum sagittis. Proin faucibus arcu quis ante. Sed aliquam ultrices mauris. In hac habitasse platea dictumst.</p>
    </div>
  </div>
</div>
