<div class="grid--full quote">
  <div class="grid__item large--one-half push--large--one-quarter text-center">
    <div class="quote-content">
      &ldquo;{{ description }}&rdquo;
    </div>
    <div class="quote-attribution">
      {{ title }}
    </div>
  </div>
</div>
