<!-- /templates/404.liquid -->

<div class="grid--full callout-text-right">
  <div class="grid__item text-center">
    <div class="callout-title">
      <h1>Oops!</h1>
    </div>
    <div class="callout-description">
      <p>{{ 'general.404.subtext_html' | t }}</p>
    </div>

  </div>
</div>
