<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

<!-- /templates/page.liquid -->
<div class="grid--full" style="background: url(https://cdn.shopify.com/s/files/1/0941/6562/files/blueleaves_a580dd19-8f9a-4b2d-b37b-924712ced5bc.png?13670975851267088673); background-repeat: no-repeat; background-size: cover;">

  <div class="grid__item large--two-thirds push--large--one-sixth text-center page-banner">

    <h1>Gifting</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}

  </div>

</div>

{% paginate collection.products by 12 %}

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid--full shop">

  <div class="grid__item large--one-half" style="background: url(//cdn.shopify.com/s/files/1/0941/6562/files/setting_2048x2048.jpg)">
  </div>
  <div class="grid__item large--one-half">
    <div class="products-title">
      <h1>Gifting</h1>
    </div>
    <div class="products-description">
      <p>Donec mollis hendrerit risus. Cras sagittis. Fusce vulputate eleifend sapien. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Pellentesque commodo eros a enim.</p>
    </div>
    <div class="products-cta">
      <a href="">View</a>
    </div>
  </div>

</div>

<div class="grid--full">
  <div class="grid__item large--one-eighth">
  </div>
  <div class="grid__item large--three-quarters">

    {% comment %}
      Different markup if a collection description exists
    {% endcomment %}


    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}


      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}
      {% for product in collection.products %}

        {% if forloop.index == 1 or forloop.index == 4 %}
          <div class="grid">
        {% endif %}

          {% if forloop.index == 1 or forloop.index == 6 %}
            <div class="grid__item large--three-quarters">
              {% include 'product-grid-item' %}
            </div>
          {% endif %}

          {% if forloop.index == 2 or forloop.index == 4 %}
            <div class="grid__item large--one-quarter">
              {% include 'product-grid-item' %}
          {% endif %}

          {% if forloop.index == 3 or forloop.index == 5 %}
              {% include 'product-grid-item' %}
            </div>
          {% endif %}

        {% if forloop.index == 3 or forloop.index == 6 %}
          </div>
        {% endif %}


      {% else %}

        {% if collection.handle == 'all' %}

          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}

        {% else %}

          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endif %}

      {% endfor %}



  </div>

</div>

<div class="grid--full quote">
  <div class="grid__item large--one-half push--large--one-quarter text-center">
    <div class="quote-content">
      &ldquo;Donec posuere vulputate arcu. Vivamus quis mi.&rdquo;
    </div>
    <div class="quote-attribution">
      S. Quis Neque Mollis
    </div>
  </div>
</div>

{% endpaginate %}
