<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}

<div class="grid moments">

  <div class="grid__item large--one-half text-center moments-left">
    <div class="moments-title">
      <h1>Moments</h1>
    </div>
    <div class="moments-image">
      <img src="//cdn.shopify.com/s/files/1/0941/6562/files/diamond_large.png" />
    </div>
    <div class="moments-description">
      <p>Donec mollis hendrerit risus. Cras sagittis. Fusce vulputate eleifend sapien. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Pellentesque commodo eros a enim.</p>
    </div>
  </div>

  <div class="grid__item large--one-half moments-right">
    <div class="moments-image-top" style="background: url(https://cdn.shopify.com/s/files/1/0941/6562/files/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD_1_of_1_-5.jpg?2180034008751019383); background-repeat: no-repeat; background-size: cover; background-position: center;">
    </div>
    <div class="moments-image-bottom" style="background: url(//cdn.shopify.com/s/files/1/0941/6562/files/bottom_2048x2048.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
    </div>
  </div>

</div>

<div class="grid--full celebrate">

  <div class="grid__item text-center">

    <div class="celebrate-title">
      <h1>Celebrate</h1>
    </div>

    <div class="celebrate-image">
      <img src="https://cdn.shopify.com/s/files/1/0941/6562/files/tempdiamond.jpg?2180034008751019383" />
    </div>

    <div class="celebrate-text">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent turpis. Quisque malesuada placerat nisl.</p>
    </div>
  </div>

</div>


<div class="grid--full products">

  <div class="grid__item large--one-sixth medium-down--hide" style="background: url(//cdn.shopify.com/s/files/1/0941/6562/files/VBK_WebImage_Tree_2048x2048.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">

  </div>
  <div class="grid__item large--five-twelfths" style="background: url(https://static.pexels.com/photos/1880/love-pen-bed-drinking.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="products-image">
      <img src="//cdn.shopify.com/s/files/1/0941/6562/files/diamond_large.png" />
    </div>
  </div>
  <div class="grid__item large--five-twelfths">
    <div class="products-title">
      <h1>Gifting</h1>
    </div>
    <div class="products-description">
      <p>Donec mollis hendrerit risus. Cras sagittis. Fusce vulputate eleifend sapien. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Pellentesque commodo eros a enim.</p>
    </div>
    <div class="products-cta">
      <a href="">View</a>
    </div>
  </div>

</div>

<div class="grid--full about">

  <div class="grid__item text-center">

    <div class="about-title">
      <h1>About</h1>
    </div>

    <div class="about-image">
      <img src="//cdn.shopify.com/s/files/1/0941/6562/files/about-diamond_2048x2048.png" />
    </div>

    <div class="about-text">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent turpis. Quisque malesuada placerat nisl.</p>
    </div>
  </div>

</div>
