<!-- /templates/page.liquid -->
<div class="grid--full" style="background: url(//cdn.shopify.com/s/files/1/0941/6562/files/header-bg_2048x2048.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">

  <div class="grid__item large--two-thirds push--large--one-sixth text-center page-banner">

    <h1>{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}

  </div>

</div>

{% comment %}
  For layout unit 1
{% endcomment %}

{% assign type = page.metafields.c_f.1_Type %}
{% assign title = page.metafields.c_f.1_Title %}
{% assign title2 = page.metafields.c_f.1_Title2 %}
{% assign description = page.metafields.c_f.1_Description %}
{% assign description2 = page.metafields.c_f.1_Description2 %}
{% assign cta = page.metafields.c_f.1_CTA %}
{% assign url = page.metafields.c_f.1_URL %}
{% assign image1 = page.metafields.c_f.1_Image1 %}
{% assign image2 = page.metafields.c_f.1_Image2 %}

{% if type == 'textimageimage' %}
  {% include 'text-image-image' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'imageimagetext' %}
  {% include 'image-image-text' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'imagetext' %}
  {% include 'image-text' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'textimage' %}
  {% include 'text-image' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'image2xtext' %}
  {% include 'image2x-text' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'textimage2x' %}
  {% include 'text-image2x' %}
{% endif %}


{% if page.metafields.c_f.1_Type == 'quote' %}
  {% include 'quote' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'image' %}
  {% include 'image' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'bigimagetext' %}
  {% include 'bigimage-text' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'textbigimage' %}
  {% include 'text-bigimage' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'texttext' %}
  {% include 'text-text' %}
{% endif %}

{% comment %}
  For layout unit 2
{% endcomment %}

{% assign type = page.metafields.c_f.2_Type %}
{% assign title = page.metafields.c_f.2_Title %}
{% assign title2 = page.metafields.c_f.2_Title2 %}
{% assign description = page.metafields.c_f.2_Description %}
{% assign description2 = page.metafields.c_f.2_Description2 %}
{% assign cta = page.metafields.c_f.2_CTA %}
{% assign url = page.metafields.c_f.2_URL %}
{% assign image1 = page.metafields.c_f.2_Image1 %}
{% assign image2 = page.metafields.c_f.2_Image2 %}

{% if page.metafields.c_f.2_Type == 'textimageimage' %}
  {% include 'text-image-image' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'imageimagetext' %}
  {% include 'image-image-text' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'imagetext' %}
  {% include 'image-text' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'textimage' %}
  {% include 'text-image' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'image2xtext' %}
  {% include 'image2x-text' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'textimage2x' %}
  {% include 'text-image2x' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'quote' %}
  {% include 'quote' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'image' %}
  {% include 'image' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'bigimagetext' %}
  {% include 'bigimage-text' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'textbigimage' %}
  {% include 'text-bigimage' %}
{% endif %}

{% comment %}
  For layout unit 3
{% endcomment %}

{% assign type = page.metafields.c_f.3_Type %}
{% assign title = page.metafields.c_f.3_Title %}
{% assign title2 = page.metafields.c_f.3_Title2 %}
{% assign description = page.metafields.c_f.3_Description %}
{% assign description2 = page.metafields.c_f.3_Description2 %}
{% assign cta = page.metafields.c_f.3_CTA %}
{% assign url = page.metafields.c_f.3_URL %}
{% assign image1 = page.metafields.c_f.3_Image1 %}
{% assign image2 = page.metafields.c_f.3_Image2 %}

{% if page.metafields.c_f.3_Type == 'textimageimage' %}
  {% include 'text-image-image' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'imageimagetext' %}
  {% include 'image-image-text' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'imagetext' %}
  {% include 'image-text' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'textimage' %}
  {% include 'text-image' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'image2xtext' %}
  {% include 'image2x-text' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'textimage2x' %}
  {% include 'text-image2x' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'quote' %}
  {% include 'quote' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'image' %}
  {% include 'image' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'bigimagetext' %}
  {% include 'bigimage-text' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'textbigimage' %}
  {% include 'text-bigimage' %}
{% endif %}

{% comment %}
  For layout unit 4
{% endcomment %}

{% assign type = page.metafields.c_f.4_Type %}
{% assign title = page.metafields.c_f.4_Title %}
{% assign title2 = page.metafields.c_f.4_Title2 %}
{% assign description = page.metafields.c_f.4_Description %}
{% assign description2 = page.metafields.c_f.4_Description2 %}
{% assign cta = page.metafields.c_f.4_CTA %}
{% assign url = page.metafields.c_f.4_URL %}
{% assign image1 = page.metafields.c_f.4_Image1 %}
{% assign image2 = page.metafields.c_f.4_Image2 %}

{% if page.metafields.c_f.4_Type == 'textimageimage' %}
  {% include 'text-image-image' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'imageimagetext' %}
  {% include 'image-image-text' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'imagetext' %}
  {% include 'image-text' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'textimage' %}
  {% include 'text-image' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'image2xtext' %}
  {% include 'image2x-text' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'textimage2x' %}
  {% include 'text-image2x' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'quote' %}
  {% include 'quote' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'image' %}
  {% include 'image' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'bigimagetext' %}
  {% include 'bigimage-text' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'textbigimage' %}
  {% include 'text-bigimage' %}
{% endif %}

{% comment %}
  For layout unit 5
{% endcomment %}

{% assign type = page.metafields.c_f.5_Type %}
{% assign title = page.metafields.c_f.5_Title %}
{% assign title2 = page.metafields.c_f.5_Title2 %}
{% assign description = page.metafields.c_f.5_Description %}
{% assign description2 = page.metafields.c_f.5_Description2 %}
{% assign cta = page.metafields.c_f.5_CTA %}
{% assign url = page.metafields.c_f.5_URL %}
{% assign image1 = page.metafields.c_f.5_Image1 %}
{% assign image2 = page.metafields.c_f.5_Image2 %}

{% if page.metafields.c_f.5_Type == 'textimageimage' %}
  {% include 'text-image-image' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'imageimagetext' %}
  {% include 'image-image-text' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'imagetext' %}
  {% include 'image-text' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'textimage' %}
  {% include 'text-image' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'image2xtext' %}
  {% include 'image2x-text' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'textimage2x' %}
  {% include 'text-image2x' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'quote' %}
  {% include 'quote' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'image' %}
  {% include 'image' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'bigimagetext' %}
  {% include 'bigimage-text' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'textbigimage' %}
  {% include 'text-bigimage' %}
{% endif %}

{% comment %}
  For layout unit 6
{% endcomment %}

{% assign type = page.metafields.c_f.6_Type %}
{% assign title = page.metafields.c_f.6_Title %}
{% assign title2 = page.metafields.c_f.6_Title2 %}
{% assign description = page.metafields.c_f.6_Description %}
{% assign description2 = page.metafields.c_f.6_Description2 %}
{% assign cta = page.metafields.c_f.6_CTA %}
{% assign url = page.metafields.c_f.6_URL %}
{% assign image1 = page.metafields.c_f.6_Image1 %}
{% assign image2 = page.metafields.c_f.6_Image2 %}

{% if page.metafields.c_f.6_Type == 'textimageimage' %}
  {% include 'text-image-image' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'imageimagetext' %}
  {% include 'image-image-text' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'imagetext' %}
  {% include 'image-text' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'textimage' %}
  {% include 'text-image' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'image2xtext' %}
  {% include 'image2x-text' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'textimage2x' %}
  {% include 'text-image2x' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'quote' %}
  {% include 'quote' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'image' %}
  {% include 'image' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'bigimagetext' %}
  {% include 'bigimage-text' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'textbigimage' %}
  {% include 'text-bigimage' %}
{% endif %}


<div class="grid--full social">
  <div class="grid__item text-center">
    <h1>Behind the Scenes</h1>
    <h2>Instagram @vesselbrooklyn</h2>
    <div id="instafeed"></div>
  </div>
</div>

<div class="rte">
  {{ page.content }}
</div>
