<!-- /templates/page.liquid -->
<div class="grid--full" style="background: url(//cdn.shopify.com/s/files/1/0941/6562/files/header-bg_2048x2048.jpg); background-repeat: no-repeat; background-size: cover;">

  <div class="grid__item large--two-thirds push--large--one-sixth text-center page-banner">

    <h1>{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}

  </div>

</div>

{% comment %}
  For layout unit 1
{% endcomment %}

{% assign number = 1 %}

{% if page.metafields.c_f.1_Type == 'textimageimage' %}
  {% include 'text-image-image' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'imageimagetext' %}
  {% include 'image-image-text' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'imagetext' %}
  {% include 'image-text' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'textimage' %}
  {% include 'textimage' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'quote' %}
  {% include 'quote' %}
{% endif %}

{% if page.metafields.c_f.1_Type == 'image' %}
  {% include 'image' %}
{% endif %}

{% comment %}
  For layout unit 2
{% endcomment %}

{% if page.metafields.c_f.2_Type == 'textimageimage' %}
  {% include 'text-image-image' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'imageimagetext' %}
  {% include 'image-image-text' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'imagetext' %}
  {% include 'image-text' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'textimage' %}
  {% include 'textimage' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'quote' %}
  {% include 'quote' %}
{% endif %}

{% if page.metafields.c_f.2_Type == 'image' %}
  {% include 'image' %}
{% endif %}

{% comment %}
  For layout unit 3
{% endcomment %}

{% if page.metafields.c_f.3_Type == 'textimageimage' %}
  {% include 'text-image-image' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'imageimagetext' %}
  {% include 'image-image-text' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'imagetext' %}
  {% include 'image-text' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'textimage' %}
  {% include 'textimage' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'quote' %}
  {% include 'quote' %}
{% endif %}

{% if page.metafields.c_f.3_Type == 'image' %}
  {% include 'image' %}
{% endif %}

{% comment %}
  For layout unit 4
{% endcomment %}

{% if page.metafields.c_f.4_Type == 'textimageimage' %}
  {% include 'text-image-image' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'imageimagetext' %}
  {% include 'image-image-text' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'imagetext' %}
  {% include 'image-text' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'textimage' %}
  {% include 'textimage' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'quote' %}
  {% include 'quote' %}
{% endif %}

{% if page.metafields.c_f.4_Type == 'image' %}
  {% include 'image' %}
{% endif %}

{% comment %}
  For layout unit 5
{% endcomment %}

{% if page.metafields.c_f.5_Type == 'textimageimage' %}
  {% include 'text-image-image' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'imageimagetext' %}
  {% include 'image-image-text' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'imagetext' %}
  {% include 'image-text' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'textimage' %}
  {% include 'textimage' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'quote' %}
  {% include 'quote' %}
{% endif %}

{% if page.metafields.c_f.5_Type == 'image' %}
  {% include 'image' %}
{% endif %}

{% comment %}
  For layout unit 6
{% endcomment %}

{% if page.metafields.c_f.6_Type == 'textimageimage' %}
  {% include 'text-image-image' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'imageimagetext' %}
  {% include 'image-image-text' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'imagetext' %}
  {% include 'image-text' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'textimage' %}
  {% include 'textimage' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'quote' %}
  {% include 'quote' %}
{% endif %}

{% if page.metafields.c_f.6_Type == 'image' %}
  {% include 'image' %}
{% endif %}



<div class="grid--full social">
  <div class="grid__item text-center">
    <h1>Behind the Scenes</h1>
    <h2>Instagram @vesselbrooklyn</h2>
    <div id="instafeed"></div>
  </div>
</div>

<div class="rte">
  {{ page.content }}
</div>
